<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="clusterSettings" type="Microsoft.Windows.Azure.Fabric.Cfx.Cluster.ClusterConfigurationSection, Cfx.StorageClusterManager, Version=0.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="UCSettings" type="Microsoft.Windows.Azure.Fabric.Cfx.UpgradeCoordinator.UpgradeCoordinatorConfigurationSection, Cfx.UpgradeCoordinator, Version=0.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cfx.runtimeSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="CurrentRoleInstance" value="RSL_Role_IN_0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SlbmMemoryLimit" value="6294967296"/>
  </appSettings>

  <runtime>
    <gcServer enabled="true"/>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="1.0.0.0" newVersion="1.1.0.0"/>
       </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Web" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>


    </assemblyBinding>



  </runtime>
  
  <cfx.runtimeSettings>
    <add key="MiniDumpPath" value="MiniDumps"/>
    <add key="LogPath" value="RuntimeLogs"/>
    <add key="TraceSourceName" value="SlbTraces"/>
  </cfx.runtimeSettings>
  <!-- The following are options related to the Cluster Service, Except IMOS schema version and app version, none of these are actually used.  Cfx requires some of these to 
  be present else they throw exceptions at runtime. So leaving these as is for now.
  -->
  <clusterSettings>
    <imosConfig RSLDataDirectory="Repository\Fabric\RSLData" MaxRslLogSizeInMegabytes="10" AppVersion="1.9.0.0"/>
    <replica address="127.0.0.1" clusterServicePortNumber="15004" rslPortNumber="15005" rslLearnPortNumber="15006" memberId="1"/>
  </clusterSettings>
  <UCSettings>
    <rolloutPolicy policy="MaxAvailability"/>
  </UCSettings>  
  <system.diagnostics>
    <sharedListeners>
      <!-- Use textLog only for testing to see logs in one single file
      <add name="TextLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="SlbmWorker.log" /> 
      -->

      <!--
      <add name="RDConsole" type="Microsoft.Cis.Eventing.Listeners.RDConsoleTraceListener, MonAgentListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
      </add>
      -->
      
      <add name="RDMonitoringAgent-ClusterEvents" type="Microsoft.Cis.Eventing.Listeners.RDEventMonitoringAgentIdRemappingListener, MonAgentListener" initializeData="{D60DE4D6-2A04-4a1a-BE1D-D4B48E138668}"/>
      
      <add name="RDMonitoringAgent-UpgradeCoordinatorEvents" type="Microsoft.Cis.Eventing.Listeners.RDEventMonitoringAgentIdRemappingListener, MonAgentListener" initializeData="{D60DE4D6-2A04-4a1a-BE1D-D4B48E138668}"/>
      
      <add name="CfxTraceListener" type="Microsoft.Windows.Azure.Fabric.Cfx.Tracing.CfxTraceListener, Cfx.CfxTraceListener"/>

      <add name="SLBTextWriter" type="Microsoft.Cloudnet.Slb.Utilities.SlbEvents.RDTextWriterTraceListener, Microsoft.Cloudnet.Slb.Utilities.SlbEvents" 
           directory="Logs" fileNamePrefix="SLBM" fileExtension="log" maxFileCount="5120" conditionalFlush="false" maxFileSize="10485760"/>
      
      <add name="CircularTraceListener" type="Microsoft.Cloudnet.Slb.Utilities.SlbEvents.XmlCircularTraceListener, Microsoft.Cloudnet.Slb.Utilities.SlbEvents" 
             fileNamePrefix="SLBM-Wcf" fileExtension="svclog" maxFileCount="10" maxFileSize="10485760"/>
  
    </sharedListeners>
    
    <sources>
      <source name="SlbEvents" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="SLBTextWriter"/>
        </listeners>        
      </source>
      
      <source name="SlbStructuredEvents" switchValue="All">
        <listeners>
          <add name="SLBTextWriter"/>
        </listeners>
      </source>

      <source name="SlbmRepositoryManagerEvents" switchValue="All">
        <listeners>
          <add name="SLBTextWriter"/>
        </listeners>
      </source>

      <source name="Cfx.RuntimeEvents">
        <listeners>
          <add name="CfxTraceListener"/>
        </listeners>
      </source>
      
      <source name="ClusterEvents" switchValue="All">
        <listeners>
          <add name="RDMonitoringAgent-ClusterEvents"/>
          <add name="CfxTraceListener"/>
          <remove name="Default"/>
        </listeners>
      </source>      
    
      <source name="UpgradeCoordinatorEvents" switchValue="All">
        <listeners>
          <add name="RDMonitoringAgent-UpgradeCoordinatorEvents"/>
          <add name="CfxTraceListener"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <!-- WCF diagnostics trace -->
      <source name="System.ServiceModel" switchValue="Warning">
        <listeners>
          <add name="CircularTraceListener" />
        </listeners>
      </source>

      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="CircularTraceListener" />
        </listeners>
      </source>   
    
    
    </sources>
    
    <switches>
      <add name="SlbEvents" value="Verbose"/>
      <add name="SlbStructuredEvents" value="Verbose"/>
    </switches>
    
    <trace autoflush="true" indentsize="2" useGlobalLock="false">
      <listeners>
        <add name="SLBTextWriter"/>
      </listeners>
    </trace>
  </system.diagnostics>  
  
  <system.serviceModel>

    <!-- enable WCF performance counters: Values: All, ServiceOnly, Off -->
    <!-- enable control of WCF via WMI 
    http://msdn.microsoft.com/en-us/library/ms730064.aspx
    http://msdn.microsoft.com/en-us/library/ms735120.aspx 
    
    by default we don't log messages and we can turn it on via WMI or SlbClient commands.
    when we start logging messages, we log all message up to 16k    
      -->
    <diagnostics performanceCounters="All" wmiProviderEnabled="true">
       <messageLogging 
           logEntireMessage="true" 
           maxSizeOfMessageToLog="16000"

           logMalformedMessages="false"
           logMessagesAtServiceLevel="false" 
           logMessagesAtTransportLevel="false"
       />
    </diagnostics>
    
    <bindings>
      <netTcpBinding>
        <binding name="SlbManagerNetTcpBinding" maxConnections="20" sendTimeout="00:03:00" receiveTimeout="00:03:00" closeTimeout="00:00:10" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <reliableSession enabled="false" inactivityTimeout="00:10:00"/>
          <readerQuotas maxStringContentLength="20971520"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="SlbManagerHealthCheckNetTcpBinding" maxConnections="20" sendTimeout="00:03:00" receiveTimeout="00:03:00" closeTimeout="00:00:10" openTimeout="00:00:10" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <reliableSession enabled="false" inactivityTimeout="00:10:00"/>
          <readerQuotas maxStringContentLength="20971520"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="SlbMuxNetTcpBinding" maxConnections="20" sendTimeout="00:03:00" receiveTimeout="00:03:00" closeTimeout="00:00:10" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <reliableSession enabled="false" inactivityTimeout="00:10:00"/>
          <readerQuotas maxStringContentLength="20971520"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Microsoft.Windows.Azure.Fabric.Cfx.Cluster.StorageClusterManager" behaviorConfiguration="SlbManagerService">
        <endpoint binding="netTcpBinding" contract="Microsoft.Windows.Azure.Fabric.Cfx.Cluster.IStorageClusterManagement"/>
      </service>
      <service name="Microsoft.Windows.Azure.Fabric.Cfx.UpgradeCoordinator.UpgradeCoordinator" behaviorConfiguration="SlbManagerService">
        <endpoint binding="netTcpBinding" contract="Microsoft.Windows.Azure.Fabric.Cfx.UpgradeCoordinator.IUpgradeNotificationHandler"/>
      </service>
    </services>
    <client>
      <endpoint name="ClusterService" binding="netTcpBinding" contract="Microsoft.Windows.Azure.Fabric.Cfx.Cluster.IStorageClusterManagement"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SlbManagerService">
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
<!--
<serviceCredentials>
    <serviceCertificate findValue="MSIT Enterprise CA 3"
    storeLocation="LocalMachine"
    storeName="My"
    x509FindType="FindByIssuerName" />
</serviceCredentials>
-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true" cookieRequireSSL="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
